#table_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#container {
    background-color: #daf0f6;
    display: flex;
    flex-direction: row;

}

#nav {
    display: flex;
    flex-direction: column;
    background-color: #2A2A72;
    h2 {
        color: white;
        padding: 10px 30px 10px 30px;
    }
    #price {
        a {
            color: white;
            text-decoration: none;
            padding: 5px 30px 5px 36px;
        }
    }
    #area {
        p {
            cursor: pointer;
            color: white;
            padding: 5px 30px 5px 36px;
        }
    }
}

table {
    border-spacing: 0px;
    #content_title {
        background-color: #33e6c9;
        width: 100%;
        font-size: (20/16)*1rem;
        th {
            width: 150px;
            line-height: 40px;
            padding: 0 30px 0 30px;
        }
    }
}

#content {
    padding: 0 0 0 40px;
    th {
        width: 20px;
        font-size: (20/16)*1rem;
        line-height: 34px;
    }
}

#content:hover {
    background-color: white;
}